body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
}

.header {
    background-color: #1F2937;
    padding: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.links {
    display: flex;
    gap: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

.headerlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
}

.herotext {
    display: flex;
}

#text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

#subtext {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 8px;
    width: 120px;
    font-weight: 600;
    font-size: 18px;
}