body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
}

.header {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.links {
    display: flex;
    gap: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

.headerlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
